# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
*.pyc
__pycache__/
*.so
*~
.idea/
.ipynb_checkpoints/

# due to using tox and pytest
.tox
.cache

#Virtualenv folder
.env/

.DS_Store

.vscode/

fiotclient.log
